<% include header %>

<html>
        <head>
                <link rel="stylesheet" href="css/A01.css">
            </head>
<body>
        <form action="w3schools.com">
                First name:<br>
                <input type="text" name="first name" pattern="[A-Za-z]{1,}" required><br>
                Last name:<br>
                <input type="text" name="last name"pattern="[A-Za-z]{1,}" required><br>
                Message:<br>
                <textarea name="message" rows="3" cols="30" required >say Hello!!</textarea><br>
                <input type="submit" value="submit">
                <input type="reset" value="cancel">
            </form>
            <a href="https://github.com/yaswnth2397/"><i class="fa fa-cloud" style="font-size:48px;color:black" id="git"><br>github</i></a>
            <a href="https://bitbucket.org/yashu2397/"><i class="fa fa-archive" style="font-size:48px;color:black" id="bit"><br>bitbucket</i></a>
            <a href="https://www.linkedin.com/in/yaswanth-yarram-a78680bb"><i class="fa fa-paper-plane" style="font-size:48px;color:black" id="link"><br>linkedin</i></a>
  </body>
     </html>
     <% include footer %>

        