
<% include header %>
<html>
        <head>
                <link rel="stylesheet" href="css/games.css">
            </head>
<body>
    <h1>Temperature Converter</h1>
  
    <input type="text" id="fahrenheit" placeholder="Fahrenheit" name="f" value="" />
    
    <input type="text" id="celsius" placeholder="Celsius" name="c" value="" />
    
    <button id="convert">Convert!</button>
    <button id="clear">Reset</button>  
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="js/game.js"></script>
  </body>
  </html>
  <% include footer %>
