<% include header %>

<html>
    <head>
        <link rel="stylesheet" href="css/A01.css">
    </head>
<body>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-9">
        <header> <h1> Introduction(Yaswanth Yarram) </h1> </header>
          <article>
            <h3 class="section-header">Education</h3>
            <section id="Education-section"><h4>I had done my Bachelor in Information Technology from RVR & JC College of Engineering and I am here to do my masters in Applied Computer Science for this fall 2018.</h4></section>
            <h3 class="section-header">Skills</h3>
            <section id="Skills-section"><h4>I like to do web designing and I am good at Organizing and event management.</h4></section>
            <h3 class="section-header">Interest</h3>
            <section id="Interest-section"><h4>My interest is in web designing, event managment and to work as HR.</h4></section>
            <section>
              <h3 class="section-header">Contact information</h3>
              <ol id="Contact information">
                <li>Ph no:6605280511</li>
                <li>Email:S533632@nwmissouri.edu</li>
              </ol>
            </section>
          </article>
          <iframe width="1000" height="400" src="https://www.youtube.com/embed/cB5Wq8TQKA8"  allow="autoplay; encrypted-media" allowfullscreen></iframe>
            
            
      </div>
      <div class="col-md-3">
        <img src="images\images.jpg" class="img-circle" id="image" alt="YaswanthS">
      </div>
      </div>
      
      <div class="col-md-12">

  
</body>

</html>
<% include footer %>
