body {
 
  background-image: url("/images/image.jpg");
  background-repeat: no-repeat;
  background-size: 200%;

}
article{
  
  font-family:"arial";
  text-indent: 50px;
  text-align: justify;
}
header{
 
  text-align: left;
  font-weight:bold;
  

}
.section-header{
  font-family:serif;
  font-size: 20px;
  font-style: oblique;
  text-decoration: underline;
  text-align:left;
  font-weight: bold;
}
footer{
 
  text-align: left;
  font-weight:bold;

}
aside{
  font-style: oblique;
  font-weight:bold;
  font-size:20px;
  
}
#past-section{
  font-family: comic;
  color:brown;
  font-size: 15px;
  font-weight: bold;
  text-align:left;
}
#future-section{
  font-family: comic;
  color:brown;
  font-size: 15px;
  font-weight: bold;
  text-align:left;
}
#current-section{
  font-family: comic;
  color:brown;
  font-size: 15px;
  font-weight: bold;
  text-align:left;
}
#schedule{
  font-family: comic;
  color: brown;
  font-size: 15px;
  font-weight: bold;
  text-align:left;
}
#image{
  height:400px;
  width:300px;
}
#git{
  margin-top:100px;
  margin-left:200px;
}
form{
  margin-top:100px;
  margin-left:500px;
  font-size: 20px;
}
#bit{
  margin-top:100px;
  margin-left:210px;
}
#link{
  margin-top:100px;
  margin-left:220px;
}


#convert {
	background-color: #bba768;
  }
  #convert:hover {
	background-color: #bcc768;
  }
  h1 {
	font-family: sans-serif;
	color: #70b2e5;
  }
  input {
	display: block;
	padding: 5px;
	margin-top: 5px;
	font-size: 1em;
	color: #f4a55a;
	font-family: cursive, sans-serif;
  }
  /*::-webkit-input-placeholder {
	 color: #ccc;
  }
  :-moz-placeholder { /* Firefox 18- */
	/*color: #ccc;  
  }
  ::-moz-placeholder {  /* Firefox 19+ */
	/*color: #ccc;  
  }
  /*:-ms-input-placeholder {  
	 color: #ccc;  
  }*/
  button {
	padding: 10px;
	font-size: 1em;
	color: #545454;
  }